<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I'm your man!</h2>
                <hr class="light">
                <p class="text-faded">My name is Don and I'm a Ruby Developer who specializes in helping clients launch their Ruby on Rails site or Ruby app into the world! If you're close to launching but just have too much work and not enough Development man-power, then you need to look no further!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">See my services!</a>
            </div>
        </div>
    </div>
</section>
