<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Custom Application Development with Ruby</h3>
                    <p class="text-muted">I offer Custom Application Development using the Ruby Programming language. Whether you already have an app and need changes made OR you have an idea and need a Developer to make it happen, then I can help!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Getting Ready to Ship?</h3>
                    <p class="text-muted">If you need an extra Developer to come in and give you a hand fixing bugs or adding new features then I can help!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Testing and Documentation</h3>
                    <p class="text-muted">Does your app have bugs? Does it crash more than you want it to? I can help by developing an Automated Testing Suite for your app. I can also document your application so that changes are easier and more cost-effective to make.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">I believe Software Development is a craft that should be practiced much in the same way as an Electrician or Carpenter does. This means that I use practices like Test-Driven Development and Acceptance Testing to deliver high-quality work to my clients at a reasonable cost.</p>
                </div>
            </div>
        </div>
    </div>
</section>
